@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');


#heading{
  font-family: 'Trocchi', serif;
}

.logo{
  font-family: 'Sora', sans-serif!important;
}

.time {
  font-size: 4vw;
  padding: 2rem;
  width: fit-content;
}

.logo:hover{
  color: #f5cac2;
}

.loginhome{
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}


@media screen and (min-width: 768px){
  .DropMenu{
    display: none;
  }
}

@media screen and (max-width: 768px){
  .DropMenu{
    padding-right: 15px;
  }
}


.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #2641d4;
  border: 1px solid #1b1f2b;
}

.button-primary-active {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.button-primary-inactive {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}


/* HOME */
.dashcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  justify-content: center;
  justify-items: center;
}


/* __________ */


/* SEARCH */
.searchcontainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.readingimg{
  width: 10rem;
  margin-bottom: 25px;
}

.bookcontainer{
  text-align: center;
}

/* LIBRARY */
.library{
  display: grid;
  justify-content: center;
}

/* SIGN IN */
.logincard{
  box-shadow: green;
}

/* SIGN UP */
.signup{
  text-align: center;
}

/* BOOK SEARCH */
.searchcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

#card{
  border-radius: 15px;
}

@media only screen and (max-width: 375px) {
  .bkcontainer {
    margin: 3px !important
  }
}
