@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Anton&display=swap');


*{
  /* font-family: 'Amiri', serif; */
}

.time {
  font-size: 4vw;
  padding: 2rem;
  width: fit-content;
}

.DropMenu{
  /* font-family: 'Anton', sans-serif; */

}

/* @media screen and (max-width: 768px){ 
  .DropMenu{
    display: none;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: rem;
    cursor: pointer;
    color: white;
}
} */

@media screen and (min-width: 768px){
  .DropMenu{
    display: none;
  }
}

@media screen and (max-width: 768px){
  .DropMenu{
    padding-right: 15px;
  }
}

/* .button {
  padding: .4rem 1.5rem;
  margin: .4rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  border-style: groove;
} */

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #2641d4;
  border: 1px solid #1b1f2b;
}

.button-primary-active {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.button-primary-inactive {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}


/* HOME */
.dashcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  justify-content: center;
  justify-items: center;
}


/* __________ */


/* SEARCH */
.searchcontainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.readingimg{
  width: 12rem;
  margin-bottom: 25px;
}

.bookcontainer{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* LIBRARY */
.library{
  display: grid;
  justify-content: center;
}

/* SIGN IN */
.logincard{
  box-shadow: green;
}

/* SIGN UP */
.signup{
  text-align: center;
}

/* BOOK SEARCH */
.searchcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
